.login {
  width: 748px;
  display: block;
  background-color: white;
  display: flex;
  gap: 16px;
  padding: 28px;
  font-size: 16px;
  border-radius: 4px;
  font-family: Inter;
  margin-right: 33px;
}
